@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*   --foreground-rgb: 0, 0, 0;*/  
    --foreground-rgb: 234, 233, 232;
    --background-start-rgb: 234, 233, 232;
    --background-end-rgb: 234, 233, 232;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 234, 233, 232;
      --background-start-rgb: 234, 233, 232;
      --background-end-rgb: 234, 233, 232;
    }
  }

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@font-face {
  font-family: 'Atlas';
  src: url('/fonts/Atlas Typewriter.woff2') format('woff2'),
/*  font-weight: normal;
  font-style: normal; */
  /*        url('/fonts/YAtlas Typewriter.woff') format('woff');
  */
}

body {
  font-family: 'atlas', sans-serif;
}